<div class="m-3">
  <h3><%= cl_image_tag @buddy.owner.avatar.key, class: "avatar" %></h3>
  <p><%= @buddy.name %> is <%= @buddy.owner.nickname %>'s buddy</p>
</div>
<p><%= render "shared/card", buddy: @buddy %> </p>
<div data-turbolinks="false">
  <div class="mb-3" id="map" style="width: 100%; height: 250px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
