<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1>Place a new Booking</h1>
        <div class="product-img"style="background-image: url('<%= @buddy.photo %>')"></div>
          <h4><%= @buddy.name.capitalize %></h2>
          <p><%= @buddy.description %></p>
          <%= simple_form_for [@buddy, @booking] do |f| %>
            <p><%= f.input :start_on, label: 'From', as: :string, input_html: {type: :date} %></p>
            <p><%= f.input :end_on, label: 'To', as: :string, input_html: {type: :date} %></p>
            <p><%= f.button :submit, 'Book your meeting now!', class: "btn btn-primary", data: {confirm: "Click OK if you'd like to confirm this booking!"}%></h4>
          <% end %>
          <br>
          <div class="p-2">
            <%= link_to "back", buddies_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
