<div class="testing-card-product">
  <div class="product-img"style="background-image: url('<%= booking.buddy.photo %>')">
  </div>
  <div class="testing-card-product-infos">
    <h2><%= booking.buddy.name %></h2>
    <h3><%= booking.buddy.category %></h3>
    <p><%= booking.buddy.description %></p>
    <p>From: <%= booking.start_on %> - To: <%= booking.end_on %></p>
  </div>
</div>
