<div class="testing-card-product">
  <div class="product-img"style="background-image: url('<%= buddy.photo %>')">
  </div>
  <div class="testing-card-product-infos">
    <h2><%= buddy.name %></h2>
    <h3><%= buddy.category %></h3>
    <p><%= buddy.description %></p>
    <h3><%= buddy.age %> years old</h3>
    <form class="form-inline">
      <% if @buddy.owner == current_user %>
      <p><%= link_to "You already added this buddy!", buddies_path(@buddy), class: "button" %></p>
      <% else %>
      <p><%= link_to "Engage this buddy", new_buddy_booking_path(@buddy), class: "button" %></p>
      <% end %>
    <br>
    </form>
  </div>
</div>
