<div class="testing-card-product">
  <div class="product-img"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @buddy.photo.key, height: 300, width: 400, crop: :fill %>')">
    Cool photo
  </div>

  <div class="testing-card-product-infos">
    <h2><%= buddy.name %></h2>
    <h3><%= buddy.category %></h3>
    <p><%= buddy.description %></p>
    <h3><%= buddy.age %> years old</h3>
    <form class="form-inline">
      <% if @buddy.owner == current_user %>
        <p><%= link_to "You already added this buddy!", buddies_path(@buddy), class: "button" %></p>
      <% else %>
        <p><%= link_to "Engage this buddy", new_buddy_booking_path(@buddy), class: "button" %></p>
      <% end %>
    <br>
    </form>
  </div>
</div>
